<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    
    <head>
        <link type="text/css" rel="stylesheet" href="/styles/BlogCSS.css" />
        <title>Edit Blog Post</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width">
    </head>
       
    <body>
        <form method="post">
            <table>
                <thead>
                <h2>
                    Edit your post New Post
                </h2>
                </thead>
                <tbody>
                    <tr>
                        <td class="label">
                            Title
                        </td>
                        <td name="subject">
                            {{posts.get().subject}}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Blog Content
                        </td>
                        <td>
                            <textarea name="content">{{posts.get().content}}</textarea>
                        </td>
                    </tr>
                    <tr class="error">
                        <td class="label">
                        </td>
                        <td> 
                            {{content_error}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit">
        </form>
    </body>
  
</html>
